In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 5GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/home-data-for-ml-course/train.csv
/kaggle/input/home-data-for-ml-course/sample_submission.csv.gz
/kaggle/input/home-data-for-ml-course/data_description.txt
/kaggle/input/home-data-for-ml-course/test.csv.gz
/kaggle/input/home-data-for-ml-course/test.csv
/kaggle/input/home-data-for-ml-course/train.csv.gz
/kaggle/input/home-data-for-ml-course/sample_submission.csv

In [2]:
test_data = pd.read_csv("/kaggle/input/home-data-for-ml-course/test.csv")
train_data = pd.read_csv("/kaggle/input/home-data-for-ml-course/train.csv")

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [5]:
y = train_data.SalePrice

In [6]:
train_data_new = train_data.drop(['Id'],axis=1)

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [9]:
features = [ 'LotArea','YearBuilt','1stFlrSF','2ndFlrSF',
             'TotRmsAbvGrd','Fireplaces','GarageCars',
             'GarageArea','PoolArea']

In [10]:
X=train_data_new[features]

In [11]:
from sklearn.ensemble import RandomForestRegressor

In [12]:
house_model = RandomForestRegressor(random_state  = 1)
house_model.fit(X,y)

RandomForestRegressor(random_state=1)

In [13]:
test_X=test_data[features]

,LotArea,YearBuilt,1stFlrSF,2ndFlrSF,TotRmsAbvGrd,Fireplaces,GarageCars,GarageArea,PoolArea
count,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.00000,1458.000000,1458.000000,1459.000000
mean,9819.161069,1971.357779,1156.534613,325.967786,6.385195,0.58122,1.766118,472.768861,1.744345
std,4955.517327,30.390071,398.165820,420.610226,1.508895,0.64742,0.775945,217.048611,30.491646
min,1470.000000,1879.000000,407.000000,0.000000,3.000000,0.00000,0.000000,0.000000,0.000000
25%,7391.000000,1953.000000,873.500000,0.000000,5.000000,0.00000,1.000000,318.000000,0.000000
50%,9399.000000,1973.000000,1079.000000,0.000000,6.000000,0.00000,2.000000,480.000000,0.000000
75%,11517.500000,2001.000000,1382.500000,676.000000,7.000000,1.00000,2.000000,576.000000,0.000000
max,56600.000000,2010.000000,5095.000000,1862.000000,15.000000,4.00000,5.000000,1488.000000,800.000000

In [14]:
test_X['GarageCars'].fillna(1.77 , inplace=True)

/opt/conda/lib/python3.7/site-packages/pandas/core/generic.py:6245: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

,LotArea,YearBuilt,1stFlrSF,2ndFlrSF,TotRmsAbvGrd,Fireplaces,GarageCars,GarageArea,PoolArea
count,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.00000,1459.000000,1458.000000,1459.000000
mean,9819.161069,1971.357779,1156.534613,325.967786,6.385195,0.58122,1.766121,472.768861,1.744345
std,4955.517327,30.390071,398.165820,420.610226,1.508895,0.64742,0.775679,217.048611,30.491646
min,1470.000000,1879.000000,407.000000,0.000000,3.000000,0.00000,0.000000,0.000000,0.000000
25%,7391.000000,1953.000000,873.500000,0.000000,5.000000,0.00000,1.000000,318.000000,0.000000
50%,9399.000000,1973.000000,1079.000000,0.000000,6.000000,0.00000,2.000000,480.000000,0.000000
75%,11517.500000,2001.000000,1382.500000,676.000000,7.000000,1.00000,2.000000,576.000000,0.000000
max,56600.000000,2010.000000,5095.000000,1862.000000,15.000000,4.00000,5.000000,1488.000000,800.000000

In [15]:
test_X['GarageArea'].fillna(472.77 , inplace = True)

/opt/conda/lib/python3.7/site-packages/pandas/core/generic.py:6245: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

,LotArea,YearBuilt,1stFlrSF,2ndFlrSF,TotRmsAbvGrd,Fireplaces,GarageCars,GarageArea,PoolArea
count,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.00000,1459.000000,1459.000000,1459.000000
mean,9819.161069,1971.357779,1156.534613,325.967786,6.385195,0.58122,1.766121,472.768862,1.744345
std,4955.517327,30.390071,398.165820,420.610226,1.508895,0.64742,0.775679,216.974165,30.491646
min,1470.000000,1879.000000,407.000000,0.000000,3.000000,0.00000,0.000000,0.000000,0.000000
25%,7391.000000,1953.000000,873.500000,0.000000,5.000000,0.00000,1.000000,318.000000,0.000000
50%,9399.000000,1973.000000,1079.000000,0.000000,6.000000,0.00000,2.000000,480.000000,0.000000
75%,11517.500000,2001.000000,1382.500000,676.000000,7.000000,1.00000,2.000000,576.000000,0.000000
max,56600.000000,2010.000000,5095.000000,1862.000000,15.000000,4.00000,5.000000,1488.000000,800.000000

In [18]:
predictions = house_model.predict(test_X)

In [19]:
output = pd.DataFrame({'Id':test_data.Id , 'SalePrice':predictions})
output.to_csv('house_prices_submission.csv', index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!